*.fastq
*.fastq.gz
*.bam
*.bam.bai
*.ht2
*.fasta
*.fna
*.fna.gz
*.gtf
*.tar.gz
databases/
sortmerna_repo/
alignments/
filtered_alignments/
raw_data/
fastp_qc/
rrna_filtered/
reference_genome/
reference_spider_data/
kegg_analysis/
*.db
*.db.gz
*.dmnd
*.dmnd.gz
.DS_Store

